@import "../_base.pcss";
@import "../components/header.pcss";
@import "../components/slider.pcss";
@import "../components/choice.pcss";
@import "../components/main.pcss";
@import "../components/pagination.pcss";
@import "../components/best.pcss";
@import "../components/about.pcss";
@import "../components/footer.pcss";
