.about-container
  .about
    .about_head
      h4.about_h4 What Our Customers Have to Say
      p.about_p Couple of Words About This Stories Section
    .comments
      - var n = 0
      while n < 3
        .comments_item
          .comments_author
            img(src="img/Photo.png").comments_photo
            .comments_about-author
              .comments_name Celia Fields
              .comments_position UX Expert
          p.comments_descr This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
        - n++
