.best
  h2.best_h4 Best Sellers
  .products
    - var n = 0
    while n < 4
      .product-item.product-item--best
        img(src="img/apple_tv.png").product-item_img
        h3.product-item_name Apple TV 32GB
        p.product-item_color Black
        span.product-item_price.product-item_price--sell(data-price="£29.99") £39.99
      - n++