footer.footer
  .container
    .footer-top
      .header-top-logo.header-top-logo--footer
        a(href="#").header-top-logo_link
          img(src="img/Portland-white.png" alt="logo").header-top-logo_img
      .header-top-menu.header-top-menu--white
        ul.header-top-menu_list
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Home
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Shop
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Team
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white About us
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Contacts
      .social
        svg.twitter
          use(xlink:href='./img/symbols.svg#twitter')
        svg.facebook
          use(xlink:href='./img/symbols.svg#facebook')
        svg.google-plus
          use(xlink:href='./img/symbols.svg#google-plus')
    .footer-bottom
