footer.footer
  .container
    .footer-top
      .header-top-logo.header-top-logo--footer
        a(href="#").header-top-logo_link
          img(src="img/Portland-white.png" alt="logo").header-top-logo_img
      .header-top-menu.header-top-menu--white
        ul.header-top-menu_list
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Home
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Shop
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Team
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white About us
          li.header-top-menu_item.header-top-menu_item--white
            a(href="#").header-top-menu_link.header-top-menu_link--white Contacts
      .social
        a(href="")
          svg.twitter
            use(xlink:href='./img/symbols.svg#twitter')
        a(href="")
          svg.facebook
            use(xlink:href='./img/symbols.svg#facebook')
        a(href="")
          svg.google-plus
            use(xlink:href='./img/symbols.svg#google-plus')
    .footer-bottom
      p.footer-bottom_p She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.
      .footer-bottom_links
        a(href="#").footer-bottom_link Privacy Policy
        a(href="#").footer-bottom_link Terms and Conditions