main.main
  .main-container
    aside.aside
      dl.accordion
        dt
          a(href='') Top Sales
            .arrow
              svg.svg
                use(xlink:href='./img/symbols.svg#right-arrow')
        dd
          ul
            li
              a(href="#") Cell phones
            li
              a(href="#") Cameras
            li
              a(href="#") Computers
            li
              a(href="#") TV, Audio
            li
              a(href="#") Video games
        dt
          a(href='') Brand Focus
            .arrow
              svg.svg
                use(xlink:href='./img/symbols.svg#right-arrow')
        dd
          ul
            li
              a(href="#") Cell phones
            li
              a(href="#") Cameras
            li
              a(href="#") Computers
            li
              a(href="#") TV, Audio
            li
              a(href="#") Video games
        dt
          a(href='') Hi-Tech
            .arrow
              svg.svg
                use(xlink:href='./img/symbols.svg#right-arrow')
        dd
          ul
            li
              a(href="#") Cell phones
            li
              a(href="#") Cameras
            li
              a(href="#") Computers
            li
              a(href="#") TV, Audio
            li
              a(href="#") Video games
        dt
          a(href='') Home
            .arrow
              svg.svg
                use(xlink:href='./img/symbols.svg#right-arrow')
        dd
          ul
            li
              a(href="#") Cell phones
            li
              a(href="#") Cameras
            li
              a(href="#") Computers
            li
              a(href="#") TV, Audio
            li
              a(href="#") Video games
        dt
          a(href='') Sale
            .arrow
              svg.svg
                use(xlink:href='./img/symbols.svg#right-arrow')
        dd
          ul
            li
              a(href="#") Cell phones
            li
              a(href="#") Cameras
            li
              a(href="#") Computers
            li
              a(href="#") TV, Audio
            li
              a(href="#") Video games
      .available
        h2.available_h2 Available
        .buttons
          .buttons_row
            input(type="radio" id="js-r-1").buttons_radio
            span.buttons_text In storage
            span.buttons_number 45
          .buttons_row
            input(type="radio" id="js-r-2").buttons_radio
            span.buttons_text In Online-Shop
            span.buttons_number 12
        .brands
          .heading
            h2.brands_h2 Brands
            a(href="").brands_link All
          .buttons
            .buttons_row
              input(type="checkbox" id="js-c-1" checked).buttons_checkbox
              span.buttons_text Apple
              span.buttons_number 12
            .buttons_row
              input(type="checkbox" id="js-c-2").buttons_checkbox
              span.buttons_text JBL
              span.buttons_number 14
            .buttons_row
              input(type="checkbox" id="js-c-3").buttons_checkbox
              span.buttons_text Bose
              span.buttons_number 3
            .buttons_row
              input(type="checkbox" id="js-c-4").buttons_checkbox
              span.buttons_text Nest
              span.buttons_number 5

      .condition
        .heading
          h2.brands_h2 Brands
          a(href="").brands_link All
        .buttons
          .buttons_row
            input(type="checkbox" id="js-c-5" checked).buttons_checkbox
            span.buttons_text New
          .buttons_row
            input(type="checkbox" id="js-c-6").buttons_checkbox
            span.buttons_text Manufacturer Refurbished
          .buttons_row
            input(type="checkbox" id="js-c-7").buttons_checkbox
            span.buttons_text Seller Refurbished
          .buttons_row
            input(type="checkbox" id="js-c-8" checked).buttons_checkbox
            span.buttons_text Used
          .buttons_row
            input(type="checkbox" id="js-c-9").buttons_checkbox
            span.buttons_text For Parts or not Working

      .delivery
        .heading
          h2.brands_h2 Delivery Options
        .buttons.buttons--mb
          .buttons_row
            .left
              input(type="radio" id="js-r-3").buttons_radio
              span.buttons_text.buttons_text--2 free
            .right
              input(type="radio" id="js-r-4").buttons_radio
              span.buttons_text.buttons_text--2 $4.99
    section.section
      .product-item
        img(src="img/apple_tv.png").product-item_img
        h3.product-item_name Apple TV 32GB
        p.product-item_color Black
        span.product-item_price $49.99
      .product-item
        img(src="img/watch.png").product-item_img
        h3.product-item_name Pebble Time
        p.product-item_color Red
        span.product-item_price $29.99
      .product-item
        img(src="img/zen.png").product-item_img
        h3.product-item_name Zendure 4-Port USB
        p.product-item_color White
        span.product-item_price $49.99
      .product-item
        img(src="img/analizer.png").product-item_img
        h3.product-item_name Withings Smart Body Analyzer ws-50
        p.product-item_color Black
        span.product-item_price $39.99
      .product-item.product-item--2
        img(src="img/jbl.png").product-item_img.product-item_img--2
        .product-item-content
          .content-left
            h3.product-item_name JBL Charge 2+
            p.product-item_color.product-item_color--2 Black
          .content-right
            a(href="#").content-right_memory 16GB
            a(href="#").content-right_buy Buy now
      .product-item
        img(src="img/watch.png").product-item_img
        h3.product-item_name Pebble Time
        p.product-item_color Red
        span.product-item_price $29.99
      .product-item
        img(src="img/zen.png").product-item_img
        h3.product-item_name Zendure 4-Port USB
        p.product-item_color White
        span.product-item_price $49.99
      .product-item
        img(src="img/analizer.png").product-item_img
        h3.product-item_name Withings Smart Body Analyzer ws-50
        p.product-item_color Black
        span.product-item_price $39.99
      .product-item
        img(src="img/watch.png").product-item_img
        h3.product-item_name Pebble Time
        p.product-item_color Red
        span.product-item_price $29.99
      .product-item
        img(src="img/zen.png").product-item_img
        h3.product-item_name Zendure 4-Port USB
        p.product-item_color White
        span.product-item_price $49.99
      .product-item.product-item--full
        img(src="img/full.png").product-item_img.product-item_img--full
        h3.product-item_name.product-item_name--full Nest Learning Thermostat, 3rd Generation
        span.product-item_price.product-item_price--full $39.99