.pagination
  a(href="#").pagination_prev
    svg.left-chevron
      use(xlink:href='./img/symbols.svg#left-chevron')
  .pagination_numb
    ul.pagination_list
      li.pagination_item
        a(href="#").pagination_link 1
      li.pagination_item
        a(href="#").pagination_link 2
      li.pagination_item
        a(href="#").pagination_link 3
      li.pagination_item.pagination_item--active
        a(href="#").pagination_link 4
      li.pagination_item
        a(href="#").pagination_link 5
      li.pagination_item
        a(href="#").pagination_link 6
      li.pagination_item
        a(href="#").pagination_link 7
      li.pagination_item
        a(href="#").pagination_link 8
  a(href="#").pagination_next
    svg.right-chevron
      use(xlink:href='./img/symbols.svg#right-chevron')