.slider#js-slider
  - var n = 0;
    while n < 4
      div.slider-item.slider-item--first
        .slider-item-container
          .slider-item-left
            h1.slider-item-left_h1 iPhone 6 32Gb <br> Black
            p.slider-item-left_p At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.
            button.slider-item-left_btn Buy now
          .slider-item-right
            img(src="img/iphone_6.png").slider-item-right_img
      - n++