extends ../template
include ../_mixin

block title
  title Portland UI Free Sample

block description
  meta(name='Portland UI Free Sample', content='Portland UI Free Sample')

block color
  +color('#3A4446')

block styles
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">
  //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css")
  link(rel="stylesheet" href="css/main.css")

block js
  script(defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(defer src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js")
  //script(defer src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
  //script(defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
  //script(defer src="js/commons.js")
  script(defer src="js/index.js")

block content
  include ../components/header
  include ../components/slider
  include ../components/choice
  include ../components/about
  include ../components/footer
